/* framework.css
 * version 1.2.3
 */
.application {
    margin: auto;
    width: 75%;
}

.icoEdit {
    color: blue;
}

.icoEdit:hover {
    cursor: pointer;
}

.icoDelete {
    color: red;
}

.icoDelete:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.clickable {
    cursor: pointer;
}
